/* 12 bit rainbow */

:root{
    --mauve: #817;
    --red: #a35;
    --plum: #c66;
    --orange: #e94;
    --yellow: #ed0;
    --lime: #9d5;
    --mint: #4d8;
    --teal: #2cb;
    --cyan: #0cb;
    --blue: #09c;
    --royal: #36b;
    --purple: #639;
    --lightgrey: #c3c3c3;
    --grey: #858585;
    --black: #111;
    --white: #fff;
    --padding: 0.8em;
    --margin: 1.2em;
}