* {
	box-sizing: border-box;
}

html{
	margin: 0;
	padding: 0;
}

body {
	font-size: 1em;
	background-color: var(--background);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: var(--foreground);
	display: grid;
	grid-template-rows: auto 1fr auto;
	margin: 0;
	padding:0;
	grid-template-areas: 
		"a"
		"b"
		"c";
	min-height: 100vh;
	min-height: -webkit-fill-available;
}

main{
	max-width: 56ch;
	padding: var(--space) calc(var(--space) * 2)
}

h1, h2, h3, h4, h5, h6, p { 
	margin: 0; 
	line-height: 1;
}

p{
	line-height: 1.2;
}

a{
	text-underline-offset: 0.3em;
}

a:active, a:link{
	color: var(--linkColor);
}

a:visited{
	color: var(--linkVisited);
}