/* 12 bit rainbow */
:root{
	--mauve: #817;
	--red: #a35;
	--plum: #c66;
	--orange: #e94;
	--yellow: #ed0;
	--lime: #9d5;
	--mint: #4d8;
	--teal: #2cb;
	--cyan: #0cb;
	--blue: #09c;
	--royal: #36b;
	--purple: #639;
	--lightgrey: #d3d3d3;
	--darkgrey: #444;
	--grey: #858585;
	--black: #111;
	--white: #fff;
	--space: 0.8em;
	--space-2: calc(var(--space) * 2);
	--space-3: calc(var(--space) * 3);
	--margin: var(--space-2);

	--foreground: var(--black);
	--background: var(--white);
	--linkColor: var(--blue);
	--linkVisited: var(--royal);
	--underline-resting: rgba(0, 153, 204, 0.203);

	--foreground-100: var(--lightgrey)
}